StarGate/src/main/resources/jaxb/nbsresponse/NBSResponse.xsd

<xs:schema xmlns="http://www.aafes.com/nbsresponse" 
           targetNamespace="http://www.aafes.com/nbsresponse" 
           xmlns:tokenvalidator="http://www.aafes.com/nbsresponse" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified" > 
    <xs:element name="NBSResponse">
        <xs:annotation>
            <xs:documentation>This XSD is for NBS respsonse</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="A">
                    <xs:annotation>
                        <xs:documentation>the following field "A" refers to record type.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="PreAuth"/>
                            <xs:enumeration value="FinalAuth"/>
                            <xs:enumeration value="Sale"/>
                            <xs:enumeration value="Refund"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Key">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:totalDigits value="4"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LocalDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                            
                <xs:element name="ApplicationUpdateNeeded">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0"/>
                            <xs:maxLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="AuthCode">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:totalDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
							
                <xs:element name="AuthResponse">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Message">
                                                        
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="32"/>
                                    </xs:restriction>
                                </xs:simpleType>
                                                                
                            </xs:element>
                            <xs:element name="CardType">
                                                        
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Identity">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="HostNumber">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CardNumber">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="7"/>
                                    </xs:restriction>
                                </xs:simpleType>
                                                                
                            </xs:element>
                            <xs:element name="VehicleNumber">
                                                        
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:totalDigits value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                                                                
                            </xs:element>
                            <xs:element name="ServiceOption">
                                                        
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:totalDigits value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                                                                
                            </xs:element>
                            <xs:element name="promptCount">                                                        
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:totalDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>								
                            <xs:element name="promptTypeDetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="promptType">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="authRef">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="6"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="maxAmount">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:decimal">
                                                    <xs:fractionDigits value="2" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="productAuthCount">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:totalDigits value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ProductDetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="maxQuantity">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:decimal">
                                                    <xs:fractionDigits value="5" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
													
                                        <xs:element name="productCode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:totalDigits value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
													
                                        <xs:element name="maxAmount">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:decimal">
                                                    <xs:fractionDigits value="2" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>	
    </xs:element>
</xs:schema>		