StarSettler/src/wsdl/172.18.184.48_8082/CreditServer/CreditServerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cs.credit.aafes.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CreditServerWS" targetNamespace="http://cs.credit.aafes.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cs.credit.aafes.com/" elementFormDefault="unqualified" targetNamespace="http://cs.credit.aafes.com/" version="1.0">
<xs:element name="authorize" type="tns:authorize"/>
<xs:element name="authorizeResponse" type="tns:authorizeResponse"/>
<xs:element name="getxPathRRN" type="tns:getxPathRRN"/>
<xs:element name="getxPathRRNResponse" type="tns:getxPathRRNResponse"/>
<xs:element name="setxPathRRN" type="tns:setxPathRRN"/>
<xs:element name="setxPathRRNResponse" type="tns:setxPathRRNResponse"/>
<xs:complexType name="authorize">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="authorizeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setxPathRRN">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setxPathRRNResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getxPathRRN">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getxPathRRNResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getxPathRRN">
    <wsdl:part element="tns:getxPathRRN" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setxPathRRN">
    <wsdl:part element="tns:setxPathRRN" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getxPathRRNResponse">
    <wsdl:part element="tns:getxPathRRNResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authorizeResponse">
    <wsdl:part element="tns:authorizeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authorize">
    <wsdl:part element="tns:authorize" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setxPathRRNResponse">
    <wsdl:part element="tns:setxPathRRNResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CreditServerWS">
    <wsdl:operation name="authorize">
      <wsdl:input message="tns:authorize" name="authorize">
    </wsdl:input>
      <wsdl:output message="tns:authorizeResponse" name="authorizeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setxPathRRN">
      <wsdl:input message="tns:setxPathRRN" name="setxPathRRN">
    </wsdl:input>
      <wsdl:output message="tns:setxPathRRNResponse" name="setxPathRRNResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getxPathRRN">
      <wsdl:input message="tns:getxPathRRN" name="getxPathRRN">
    </wsdl:input>
      <wsdl:output message="tns:getxPathRRNResponse" name="getxPathRRNResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditServerWSSoapBinding" type="tns:CreditServerWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="authorize">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="authorize">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="authorizeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setxPathRRN">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setxPathRRN">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setxPathRRNResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getxPathRRN">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getxPathRRN">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getxPathRRNResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditServerWS">
    <wsdl:port binding="tns:CreditServerWSSoapBinding" name="CreditServerWSPort">
      <soap:address location="http://172.18.184.48:8082/CreditServer/CreditServerWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>