StarGate/src/main/java/com/aafes/stargate/gateway/wex/simulator/NBSResponseAcknowledgmentSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RequestAcknowlegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ResponseType"/>
        <xs:element type="xs:string" name="ReasonCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>