StarGate/src/main/java/com/aafes/stargate/gateway/wex/simulator/NBSResponseAcknowledgmentSchema.xsd

<xs:schema xmlns="http://www.aafes.com/nbsLogonRequest" 
           targetNamespace="http://www.aafes.com/nbsLogonRequest" 
           xmlns:tokenvalidator="http://www.aafes.com/nbsLogonRequest" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified" > 
  <xs:element name="requestAcknowlegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ResponseType"/>
        <xs:element type="xs:string" name="ReasonCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>