StarGate/src/wsdl/toucan-hqws02-beta.aafes.com/wsMQServ/clsMQServ.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://mq.aafes.com/wsMQServ" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://mq.aafes.com/wsMQServ" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mq.aafes.com/wsMQServ">
      <s:element name="MakeCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="varXMLDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakeCallResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnInputXML">
        <s:complexType />
      </s:element>
      <s:element name="ReturnInputXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnInputXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInputXMLDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInputXMLDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnGetMessageInputXML">
        <s:complexType />
      </s:element>
      <s:element name="ReturnGetMessageInputXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnGetMessageInputXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnPutMessageInputXML">
        <s:complexType />
      </s:element>
      <s:element name="ReturnPutMessageInputXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnPutMessageInputXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MakeCallSoapIn">
    <wsdl:part name="parameters" element="tns:MakeCall" />
  </wsdl:message>
  <wsdl:message name="MakeCallSoapOut">
    <wsdl:part name="parameters" element="tns:MakeCallResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnInputXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnInputXML" />
  </wsdl:message>
  <wsdl:message name="ReturnInputXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnInputXMLResponse" />
  </wsdl:message>
  <wsdl:message name="PutMessageSoapIn">
    <wsdl:part name="parameters" element="tns:PutMessage" />
  </wsdl:message>
  <wsdl:message name="PutMessageSoapOut">
    <wsdl:part name="parameters" element="tns:PutMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnGetMessageInputXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnGetMessageInputXML" />
  </wsdl:message>
  <wsdl:message name="ReturnGetMessageInputXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnGetMessageInputXMLResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnPutMessageInputXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnPutMessageInputXML" />
  </wsdl:message>
  <wsdl:message name="ReturnPutMessageInputXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnPutMessageInputXMLResponse" />
  </wsdl:message>
  <wsdl:message name="MakeCallHttpGetIn">
    <wsdl:part name="varXMLDoc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MakeCallHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReturnInputXMLHttpGetIn" />
  <wsdl:message name="ReturnInputXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PutMessageHttpGetIn">
    <wsdl:part name="strInputXMLDoc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PutMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMessageHttpGetIn">
    <wsdl:part name="strInputXMLDoc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReturnGetMessageInputXMLHttpGetIn" />
  <wsdl:message name="ReturnGetMessageInputXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReturnPutMessageInputXMLHttpGetIn" />
  <wsdl:message name="ReturnPutMessageInputXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MakeCallHttpPostIn">
    <wsdl:part name="varXMLDoc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MakeCallHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReturnInputXMLHttpPostIn" />
  <wsdl:message name="ReturnInputXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PutMessageHttpPostIn">
    <wsdl:part name="strInputXMLDoc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PutMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMessageHttpPostIn">
    <wsdl:part name="strInputXMLDoc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReturnGetMessageInputXMLHttpPostIn" />
  <wsdl:message name="ReturnGetMessageInputXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReturnPutMessageInputXMLHttpPostIn" />
  <wsdl:message name="ReturnPutMessageInputXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="clsMQServSoap">
    <wsdl:operation name="MakeCall">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This web service will make a WebSphere MQ call to the mainframe to excute a program and return the results. The method accepts a XML formatted string and returns the results in a XML formatted string.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; MakeCall&lt;/b&gt;(&lt;br /&gt;&lt;span class="mainblue"&gt;string&lt;/span&gt; &lt;em&gt;XMLString&lt;/em&gt;&lt;br /&gt;&lt;b&gt;);&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the results from the mainframe call.&lt;/i&gt;&lt;br /&gt;&lt;b&gt;Parameters&lt;/b&gt;&lt;br /&gt;&lt;i&gt;XMLString&lt;/i&gt;&lt;br /&gt;&amp;nbsp;&amp;nbsp;The xml document in a string format.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/InMakeCallTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the XMLString document.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/OutMakeCallTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the returned XML document.&lt;br /&gt;</documentation>
      <wsdl:input message="tns:MakeCallSoapIn" />
      <wsdl:output message="tns:MakeCallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnInputXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"> The method returns a XML formatted string that can be used as a template for the MakeCall method.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; ReturnInputXML();&lt;/b&gt;&lt;br /&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the input XML template.&lt;/i&gt;&lt;br /&gt;</documentation>
      <wsdl:input message="tns:ReturnInputXMLSoapIn" />
      <wsdl:output message="tns:ReturnInputXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This web service will put a message on a MQ Queue. The method accepts a XML formatted string and returns the results in a XML formatted string.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; PutMessage&lt;/b&gt;(&lt;br /&gt;&lt;span class="mainblue"&gt;string&lt;/span&gt; &lt;em&gt;XMLString&lt;/em&gt;&lt;br /&gt;&lt;b&gt;);&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the results from the action.&lt;/i&gt;&lt;br /&gt;&lt;b&gt;Parameters&lt;/b&gt;&lt;br /&gt;&lt;i&gt;XMLString&lt;/i&gt;&lt;br /&gt;&amp;nbsp;&amp;nbsp;The xml document in a string format.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/InPutMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the XMLString document.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/OutPutMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the returned XML document.&lt;br /&gt;</documentation>
      <wsdl:input message="tns:PutMessageSoapIn" />
      <wsdl:output message="tns:PutMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This web service will get a message from an MQ Queue. The method accepts a XML formatted string and returns the results in a XML formatted string.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; GetMessage&lt;/b&gt;(&lt;br /&gt;&lt;span class="mainblue"&gt;string&lt;/span&gt; &lt;em&gt;XMLString&lt;/em&gt;&lt;br /&gt;&lt;b&gt;);&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the results from the action.&lt;/i&gt;&lt;br /&gt;&lt;b&gt;Parameters&lt;/b&gt;&lt;br /&gt;&lt;i&gt;XMLString&lt;/i&gt;&lt;br /&gt;&amp;nbsp;&amp;nbsp;The xml document in a string format.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/InGetMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the XMLString document.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/OutGetMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the returned XML document.&lt;br /&gt;</documentation>
      <wsdl:input message="tns:GetMessageSoapIn" />
      <wsdl:output message="tns:GetMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnGetMessageInputXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"> The method returns a XML formatted string that can be used as a template for the GetMessage method.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; ReturnInputXML();&lt;/b&gt;&lt;br /&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the input XML template.&lt;/i&gt;&lt;br /&gt;</documentation>
      <wsdl:input message="tns:ReturnGetMessageInputXMLSoapIn" />
      <wsdl:output message="tns:ReturnGetMessageInputXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnPutMessageInputXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"> The method returns a XML formatted string that can be used as a template for the PutMessage method.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; ReturnInputXML();&lt;/b&gt;&lt;br /&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the input XML template.&lt;/i&gt;&lt;br /&gt;</documentation>
      <wsdl:input message="tns:ReturnPutMessageInputXMLSoapIn" />
      <wsdl:output message="tns:ReturnPutMessageInputXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="clsMQServHttpGet">
    <wsdl:operation name="MakeCall">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This web service will make a WebSphere MQ call to the mainframe to excute a program and return the results. The method accepts a XML formatted string and returns the results in a XML formatted string.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; MakeCall&lt;/b&gt;(&lt;br /&gt;&lt;span class="mainblue"&gt;string&lt;/span&gt; &lt;em&gt;XMLString&lt;/em&gt;&lt;br /&gt;&lt;b&gt;);&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the results from the mainframe call.&lt;/i&gt;&lt;br /&gt;&lt;b&gt;Parameters&lt;/b&gt;&lt;br /&gt;&lt;i&gt;XMLString&lt;/i&gt;&lt;br /&gt;&amp;nbsp;&amp;nbsp;The xml document in a string format.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/InMakeCallTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the XMLString document.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/OutMakeCallTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the returned XML document.&lt;br /&gt;</documentation>
      <wsdl:input message="tns:MakeCallHttpGetIn" />
      <wsdl:output message="tns:MakeCallHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnInputXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"> The method returns a XML formatted string that can be used as a template for the MakeCall method.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; ReturnInputXML();&lt;/b&gt;&lt;br /&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the input XML template.&lt;/i&gt;&lt;br /&gt;</documentation>
      <wsdl:input message="tns:ReturnInputXMLHttpGetIn" />
      <wsdl:output message="tns:ReturnInputXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This web service will put a message on a MQ Queue. The method accepts a XML formatted string and returns the results in a XML formatted string.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; PutMessage&lt;/b&gt;(&lt;br /&gt;&lt;span class="mainblue"&gt;string&lt;/span&gt; &lt;em&gt;XMLString&lt;/em&gt;&lt;br /&gt;&lt;b&gt;);&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the results from the action.&lt;/i&gt;&lt;br /&gt;&lt;b&gt;Parameters&lt;/b&gt;&lt;br /&gt;&lt;i&gt;XMLString&lt;/i&gt;&lt;br /&gt;&amp;nbsp;&amp;nbsp;The xml document in a string format.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/InPutMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the XMLString document.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/OutPutMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the returned XML document.&lt;br /&gt;</documentation>
      <wsdl:input message="tns:PutMessageHttpGetIn" />
      <wsdl:output message="tns:PutMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This web service will get a message from an MQ Queue. The method accepts a XML formatted string and returns the results in a XML formatted string.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; GetMessage&lt;/b&gt;(&lt;br /&gt;&lt;span class="mainblue"&gt;string&lt;/span&gt; &lt;em&gt;XMLString&lt;/em&gt;&lt;br /&gt;&lt;b&gt;);&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the results from the action.&lt;/i&gt;&lt;br /&gt;&lt;b&gt;Parameters&lt;/b&gt;&lt;br /&gt;&lt;i&gt;XMLString&lt;/i&gt;&lt;br /&gt;&amp;nbsp;&amp;nbsp;The xml document in a string format.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/InGetMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the XMLString document.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/OutGetMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the returned XML document.&lt;br /&gt;</documentation>
      <wsdl:input message="tns:GetMessageHttpGetIn" />
      <wsdl:output message="tns:GetMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnGetMessageInputXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"> The method returns a XML formatted string that can be used as a template for the GetMessage method.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; ReturnInputXML();&lt;/b&gt;&lt;br /&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the input XML template.&lt;/i&gt;&lt;br /&gt;</documentation>
      <wsdl:input message="tns:ReturnGetMessageInputXMLHttpGetIn" />
      <wsdl:output message="tns:ReturnGetMessageInputXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnPutMessageInputXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"> The method returns a XML formatted string that can be used as a template for the PutMessage method.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; ReturnInputXML();&lt;/b&gt;&lt;br /&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the input XML template.&lt;/i&gt;&lt;br /&gt;</documentation>
      <wsdl:input message="tns:ReturnPutMessageInputXMLHttpGetIn" />
      <wsdl:output message="tns:ReturnPutMessageInputXMLHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="clsMQServHttpPost">
    <wsdl:operation name="MakeCall">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This web service will make a WebSphere MQ call to the mainframe to excute a program and return the results. The method accepts a XML formatted string and returns the results in a XML formatted string.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; MakeCall&lt;/b&gt;(&lt;br /&gt;&lt;span class="mainblue"&gt;string&lt;/span&gt; &lt;em&gt;XMLString&lt;/em&gt;&lt;br /&gt;&lt;b&gt;);&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the results from the mainframe call.&lt;/i&gt;&lt;br /&gt;&lt;b&gt;Parameters&lt;/b&gt;&lt;br /&gt;&lt;i&gt;XMLString&lt;/i&gt;&lt;br /&gt;&amp;nbsp;&amp;nbsp;The xml document in a string format.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/InMakeCallTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the XMLString document.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/OutMakeCallTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the returned XML document.&lt;br /&gt;</documentation>
      <wsdl:input message="tns:MakeCallHttpPostIn" />
      <wsdl:output message="tns:MakeCallHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnInputXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"> The method returns a XML formatted string that can be used as a template for the MakeCall method.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; ReturnInputXML();&lt;/b&gt;&lt;br /&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the input XML template.&lt;/i&gt;&lt;br /&gt;</documentation>
      <wsdl:input message="tns:ReturnInputXMLHttpPostIn" />
      <wsdl:output message="tns:ReturnInputXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This web service will put a message on a MQ Queue. The method accepts a XML formatted string and returns the results in a XML formatted string.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; PutMessage&lt;/b&gt;(&lt;br /&gt;&lt;span class="mainblue"&gt;string&lt;/span&gt; &lt;em&gt;XMLString&lt;/em&gt;&lt;br /&gt;&lt;b&gt;);&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the results from the action.&lt;/i&gt;&lt;br /&gt;&lt;b&gt;Parameters&lt;/b&gt;&lt;br /&gt;&lt;i&gt;XMLString&lt;/i&gt;&lt;br /&gt;&amp;nbsp;&amp;nbsp;The xml document in a string format.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/InPutMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the XMLString document.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/OutPutMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the returned XML document.&lt;br /&gt;</documentation>
      <wsdl:input message="tns:PutMessageHttpPostIn" />
      <wsdl:output message="tns:PutMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This web service will get a message from an MQ Queue. The method accepts a XML formatted string and returns the results in a XML formatted string.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; GetMessage&lt;/b&gt;(&lt;br /&gt;&lt;span class="mainblue"&gt;string&lt;/span&gt; &lt;em&gt;XMLString&lt;/em&gt;&lt;br /&gt;&lt;b&gt;);&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the results from the action.&lt;/i&gt;&lt;br /&gt;&lt;b&gt;Parameters&lt;/b&gt;&lt;br /&gt;&lt;i&gt;XMLString&lt;/i&gt;&lt;br /&gt;&amp;nbsp;&amp;nbsp;The xml document in a string format.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/InGetMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the XMLString document.&lt;br /&gt;&lt;br /&gt;Click &lt;a href="XMLTemplates/OutGetMsgTemp.xml" target="_new"&gt;here&lt;/a&gt; to see the template for the returned XML document.&lt;br /&gt;</documentation>
      <wsdl:input message="tns:GetMessageHttpPostIn" />
      <wsdl:output message="tns:GetMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnGetMessageInputXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"> The method returns a XML formatted string that can be used as a template for the GetMessage method.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; ReturnInputXML();&lt;/b&gt;&lt;br /&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the input XML template.&lt;/i&gt;&lt;br /&gt;</documentation>
      <wsdl:input message="tns:ReturnGetMessageInputXMLHttpPostIn" />
      <wsdl:output message="tns:ReturnGetMessageInputXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnPutMessageInputXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"> The method returns a XML formatted string that can be used as a template for the PutMessage method.&lt;br /&gt;&lt;br /&gt;&lt;table border="0"&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;public &lt;span class="mainblue"&gt;string&lt;/span&gt; ReturnInputXML();&lt;/b&gt;&lt;br /&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br /&gt;&lt;b&gt;Returns&lt;/b&gt;&lt;br /&gt;&lt;i&gt;An XML formatted string containing the input XML template.&lt;/i&gt;&lt;br /&gt;</documentation>
      <wsdl:input message="tns:ReturnPutMessageInputXMLHttpPostIn" />
      <wsdl:output message="tns:ReturnPutMessageInputXMLHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="clsMQServSoap" type="tns:clsMQServSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="MakeCall">
      <soap:operation soapAction="http://mq.aafes.com/wsMQServ/MakeCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnInputXML">
      <soap:operation soapAction="http://mq.aafes.com/wsMQServ/ReturnInputXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <soap:operation soapAction="http://mq.aafes.com/wsMQServ/PutMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://mq.aafes.com/wsMQServ/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnGetMessageInputXML">
      <soap:operation soapAction="http://mq.aafes.com/wsMQServ/ReturnGetMessageInputXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnPutMessageInputXML">
      <soap:operation soapAction="http://mq.aafes.com/wsMQServ/ReturnPutMessageInputXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="clsMQServHttpGet" type="tns:clsMQServHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="MakeCall">
      <http:operation location="/MakeCall" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnInputXML">
      <http:operation location="/ReturnInputXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <http:operation location="/PutMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <http:operation location="/GetMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnGetMessageInputXML">
      <http:operation location="/ReturnGetMessageInputXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnPutMessageInputXML">
      <http:operation location="/ReturnPutMessageInputXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="clsMQServHttpPost" type="tns:clsMQServHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="MakeCall">
      <http:operation location="/MakeCall" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnInputXML">
      <http:operation location="/ReturnInputXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <http:operation location="/PutMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <http:operation location="/GetMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnGetMessageInputXML">
      <http:operation location="/ReturnGetMessageInputXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnPutMessageInputXML">
      <http:operation location="/ReturnPutMessageInputXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="clsMQServ">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">® AAFES is a registered trademark of the Army and Air Force Exchange Service. The Army and Air Force Exchange Service (AAFES) website is an unofficial Department of Defense (DoD) website published and maintained by AAFES with non-appropriated funds. For more information regarding these Web Services please contact the AAFES Webmaster (webmaster@aafes.com).</documentation>
    <wsdl:port name="clsMQServSoap" binding="tns:clsMQServSoap">
      <soap:address location="http://toucan-hqws02-beta.aafes.com/wsMQServ/clsMQServ.asmx" />
    </wsdl:port>
    <wsdl:port name="clsMQServHttpGet" binding="tns:clsMQServHttpGet">
      <http:address location="http://toucan-hqws02-beta.aafes.com/wsMQServ/clsMQServ.asmx" />
    </wsdl:port>
    <wsdl:port name="clsMQServHttpPost" binding="tns:clsMQServHttpPost">
      <http:address location="http://toucan-hqws02-beta.aafes.com/wsMQServ/clsMQServ.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>