StarGate/src/wsdl/order.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:schema="http://firstdata.com/cmpwsapi/schemas/cmpapi" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://firstdata.com/cmpwsapi/schemas/cmpapi">
  <wsdl:types>
    <xs:schema xmlns:cmpapi="http://firstdata.com/cmpwsapi/schemas/cmpapi" xmlns:cmpmsg="http://firstdata.com/cmpwsapi/schemas/cmpmsg" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://firstdata.com/cmpwsapi/schemas/cmpapi" version="1.0">
  <xs:import namespace="http://firstdata.com/cmpwsapi/schemas/cmpmsg" schemaLocation="../schemas/cmpmsg.xsd"/>

  <xs:element name="OnlineTransRequest"> 
  	<xs:complexType>
            <xs:sequence>
              <xs:element name="Transaction" type="cmpmsg:Transaction"/>
              <xs:element minOccurs="0" name="AdditionalFormats" type="cmpmsg:OnlineAF"/>
            </xs:sequence>
          </xs:complexType>
  </xs:element>        
  <xs:element name="BatchTransRequest">
  	<xs:complexType>
	    <xs:sequence>
	      <xs:element name="PID" type="cmpmsg:String10max"/>
	      <xs:element name="SID" type="cmpmsg:String10max"/>
	      <xs:element name="BatchId" type="cmpmsg:String10max"/>
	      <xs:element minOccurs="0" name="TPP" type="cmpmsg:TPP"/>
	      <xs:element minOccurs="0" name="MRecord" type="cmpmsg:MRecord"/>
	      <xs:element maxOccurs="10000" name="BatchRecord" type="cmpmsg:BatchRecord"/>
	      <xs:element minOccurs="0" name="BatchTotals" type="cmpmsg:BatchTotals"/>
	    </xs:sequence>
  	</xs:complexType>
  </xs:element>
  <xs:element name="ReturnFileTransRequest">
  	<xs:complexType>
	    <xs:sequence>
	      <xs:element name="PID" type="cmpmsg:String10max"/>
	      <xs:element name="SID" type="cmpmsg:String10max"/>
	    </xs:sequence>
  	</xs:complexType>
  </xs:element>
  <xs:element name="OnlineTransResponse">
  	<xs:complexType>
    <xs:all>
      <xs:element name="OrderNumber" type="xs:string"/>
      <xs:element name="ResponseReasonCode" type="xs:string"/>
      <xs:element name="ResponseDate" type="xs:string"/>
      <xs:element name="AuthorizationCode" type="xs:string"/>
      <xs:element name="AVSResponseCode" type="xs:string"/>
      <xs:element name="CSVResponseCode" type="xs:string"/>
      <xs:element name="AccountNumber" type="xs:string"/>
      <xs:element name="ExpirationDate" type="xs:string"/>
      <xs:element name="Mop" type="xs:string"/>
      <xs:element name="RPAdviceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="CAVVResponseCode" type="xs:string"/>
      <xs:element minOccurs="0" name="AEVVResponseCode" type="xs:string"/>
      <xs:element name="Amount" type="xs:string"/>
      <xs:element minOccurs="0" name="ProcessingFormats" type="cmpmsg:OnlineResponseAF"/>
      <!--for general error message like invalid login info or connection issues-->
      <xs:element minOccurs="0" name="ErrorMessage" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  </xs:element>
  <xs:element name="BatchTransResponse">
  	<xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" name="InfoMessage" type="xs:string"/>
        <xs:element minOccurs="0" name="ErrorMessage" type="xs:string"/>
      </xs:all>
  	</xs:complexType>
  </xs:element>
  <xs:element name="ReturnFileTransResponse">
  	<xs:complexType>
    	<xs:sequence>
      		<xs:element maxOccurs="unbounded" minOccurs="0" name="ReturnRecord" type="cmpmsg:BatchRowResp"/>
      		<xs:element minOccurs="0" name="ErrorMessage" type="xs:string"/>
    	</xs:sequence>
  	</xs:complexType>
 </xs:element>
  
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ReturnFileTransRequest">
    <wsdl:part element="schema:ReturnFileTransRequest" name="ReturnFileTransRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BatchTransResponse">
    <wsdl:part element="schema:BatchTransResponse" name="BatchTransResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BatchTransRequest">
    <wsdl:part element="schema:BatchTransRequest" name="BatchTransRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OnlineTransResponse">
    <wsdl:part element="schema:OnlineTransResponse" name="OnlineTransResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReturnFileTransResponse">
    <wsdl:part element="schema:ReturnFileTransResponse" name="ReturnFileTransResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OnlineTransRequest">
    <wsdl:part element="schema:OnlineTransRequest" name="OnlineTransRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CMPWSApi">
    <wsdl:operation name="ReturnFileTrans">
      <wsdl:input message="schema:ReturnFileTransRequest" name="ReturnFileTransRequest">
    </wsdl:input>
      <wsdl:output message="schema:ReturnFileTransResponse" name="ReturnFileTransResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchTrans">
      <wsdl:input message="schema:BatchTransRequest" name="BatchTransRequest">
    </wsdl:input>
      <wsdl:output message="schema:BatchTransResponse" name="BatchTransResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnlineTrans">
      <wsdl:input message="schema:OnlineTransRequest" name="OnlineTransRequest">
    </wsdl:input>
      <wsdl:output message="schema:OnlineTransResponse" name="OnlineTransResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMPWSApiBinding" type="schema:CMPWSApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReturnFileTrans">
      <soap:operation soapAction=""/>
      <wsdl:input name="ReturnFileTransRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ReturnFileTransResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchTrans">
      <soap:operation soapAction=""/>
      <wsdl:input name="BatchTransRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="BatchTransResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnlineTrans">
      <soap:operation soapAction=""/>
      <wsdl:input name="OnlineTransRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="OnlineTransResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMPWSApiService">
    <wsdl:port binding="schema:CMPWSApiBinding" name="CMPWSApiPort">
      <soap:address location="https://merchanttest.ctexmloma.compass-xml.com:443/cmpwsapi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
