StarSettler/src/main/resources/jaxb/settlemessage/SettleMessage-StarGate-D033017.xsd

<?xml version="1.0"?>


<xs:schema 
    elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="Settlement">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="IdentityUUID" minOccurs="1" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:length value="36"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:choice>
                    <xs:element name="Shipment" minOccurs="0" maxOccurs="1" >
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice>
                                    <xs:element name="Lines" minOccurs="0" maxOccurs="1" >
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Shipped" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Crc" minOccurs="1" maxOccurs="1">  
                                                                <!--SKU filed in GSO database-->              
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:minLength value="1"/>
                                                                        <xs:maxLength value="50"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <!--barcode of the Item/product-->    
                                                            <xs:element  name="Quantity" minOccurs="1" maxOccurs="1">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:integer">
                                                                        <xs:totalDigits value="5"/> 
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="UnitCost" minOccurs="1" maxOccurs="1">                
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:fractionDigits value="2"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="UnitDiscount" minOccurs="0" maxOccurs="1">                
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:fractionDigits value="2"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element  name="Unit" minOccurs="1" maxOccurs="1">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:integer">
                                                                        <xs:totalDigits value="2"/> 
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element  name="UnitTotal" minOccurs="1" maxOccurs="1">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:integer">
                                                                        <xs:totalDigits value="2"/> 
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="CouponCode" minOccurs="1" maxOccurs="1">                
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:minLength value="1"/>
                                                                        <xs:maxLength value="50"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                   
                                                            <xs:element name="Payments" minOccurs="1" maxOccurs="1" >
                                                                <xs:complexType>
                                                                    <xs:sequence minOccurs="1" maxOccurs="6" >
                                                                        <xs:element name="Payment" >
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element name="Type" minOccurs="1" maxOccurs="1">                
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:string">
                                                                                                <xs:enumeration value="Mastercard" />
                                                                                                <xs:enumeration value="Visa" />
                                                                                                <xs:enumeration value="Discover" />
                                                                                                <xs:enumeration value="Amex" />
                                                                                                <xs:enumeration value="Milstar" />
                                                                                                <xs:enumeration value="GiftCard" />
                                                                                                <xs:enumeration value="InComm" />
                                                                                                <xs:enumeration value="ATT" />
                                                                                                <xs:enumeration value="Esso" />
                                                                                                <xs:enumeration value="WEX" />
                                                                                            </xs:restriction>                                                  
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="Amount" minOccurs="1" maxOccurs="1">                
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:decimal">
                                                                                                <xs:fractionDigits value="2"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="TransactionId" minOccurs="1" maxOccurs="1">
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:integer">
                                                                                                <xs:totalDigits value="8"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="OrderNumber" minOccurs="1" maxOccurs="1">                
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:string">
                                                                                                <xs:minLength value="1"/>
                                                                                                <xs:maxLength value="100"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="OrderDate" minOccurs="1" maxOccurs="1" >
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:integer">
                                                                                                <xs:pattern value="[0-9][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="ShipDate" minOccurs="1" maxOccurs="1">
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:integer">
                                                                                                <xs:pattern value="[0-9][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="SettleDate"  minOccurs="1" maxOccurs="1">
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:integer">
                                                                                                <xs:pattern value="[0-9][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                            
                                                                                    <xs:element name="CardReference" minOccurs="1" maxOccurs="1">
                                                                                        <!-- This is string -->   
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:string">
                                                                                                <xs:minLength value="1"/>
                                                                                                <xs:maxLength value="19"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>   
                                                                                    <xs:element name="CardToken" minOccurs="1" maxOccurs="1">                
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:string">
                                                                                                <xs:minLength value="12"/>
                                                                                                <xs:maxLength value="200"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="ExpirationDate" minOccurs="1" maxOccurs="1">
                                                                                              
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:integer">
                                                                                                <xs:pattern value="[0-9][0-9][0-1][0-9]"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="AuthNum" minOccurs="1" maxOccurs="1">                
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:string">
                                                                                                <xs:minLength value="6"/>
                                                                                                <xs:maxLength value="8"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="RequestPlan" minOccurs="0" maxOccurs="1" > 
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:integer">
                                                                                                <xs:totalDigits value="5"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="ResponsePlan" minOccurs="0" maxOccurs="1" > 
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:integer">
                                                                                                <xs:totalDigits value="5"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="QualifiedPlan" minOccurs="0" maxOccurs="1" > 
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:integer">
                                                                                                <xs:totalDigits value="5"/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="RRN" minOccurs="1" maxOccurs="1">  
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:string">
                                                                                                <xs:length value="12"/>                                        
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="Customer" minOccurs="1" maxOccurs="1" >
                                                                                        <xs:complexType>
                                                                                            <xs:sequence>
                                                                                                <xs:element name="Contact" minOccurs="1" maxOccurs="1" >
                                                                                                    <xs:complexType>
                                                                                                        <xs:sequence>
                                                                                                            <xs:element name="FirstName" minOccurs="1" maxOccurs="1">
                                                                                                                <xs:simpleType>
                                                                                                                    <xs:restriction base="xs:string">
                                                                                                                        <xs:minLength value="1"/>
                                                                                                                        <xs:maxLength value="50"/>
                                                                                                                    </xs:restriction>
                                                                                                                </xs:simpleType>
                                                                                                            </xs:element>
                                                                                                            <xs:element name="MiddleName" minOccurs="0" maxOccurs="1">
                                                                                                                <xs:simpleType>
                                                                                                                    <xs:restriction base="xs:string">
                                                                                                                        <xs:minLength value="1"/>
                                                                                                                        <xs:maxLength value="40"/>
                                                                                                                    </xs:restriction>
                                                                                                                </xs:simpleType>
                                                                                                            </xs:element>
                                                                                                            <xs:element name="LastName" minOccurs="1" maxOccurs="1">
                                                                                                                <xs:simpleType>
                                                                                                                    <xs:restriction base="xs:string">
                                                                                                                        <xs:minLength value="1"/>
                                                                                                                        <xs:maxLength value="50"/>
                                                                                                                    </xs:restriction>
                                                                                                                </xs:simpleType>
                                                                                                            </xs:element>
                                                                                        
                                                                                                            <xs:element name="HomePhone" minOccurs="0" maxOccurs="1">
                                                                                                                <xs:simpleType>
                                                                                                                    <xs:restriction base="xs:integer">
                                                                                                                        <xs:totalDigits value="10"/>
                                                                                                                    </xs:restriction>
                                                                                                                </xs:simpleType>
                                                                                                            </xs:element>
                                                                                                            <xs:element name="Email" minOccurs="0" maxOccurs="1">
                                                                                                                <xs:simpleType>
                                                                                                                    <xs:restriction base="xs:string">
                                                                                                                        <xs:minLength value="0"/>
                                                                                                                        <xs:maxLength value="200"/>
                                                                                                                    </xs:restriction>
                                                                                                                </xs:simpleType>
                                                                                                            </xs:element>
                                                                                                        </xs:sequence>
                                                                                                    </xs:complexType>
                                                                                                </xs:element>
                                                                                                <xs:element name="Address">
                                                                                                    <xs:complexType>
                                                                                                        <xs:sequence>
                                                                                      
                                                                                                            <xs:element name="Line" minOccurs="1" maxOccurs="2" >
                                                                                                                <xs:complexType>
                                                                                                                    <xs:simpleContent>
                                                                                                                        <xs:extension base="xs:string">
                                                                                                                            <xs:attribute type="xs:integer" name="sequence" />
                                                                                                                        </xs:extension>
                                                                                                                    </xs:simpleContent>
                                                                                                                </xs:complexType>
                                                                                                            </xs:element>
                                                                                                            <xs:element name="City" minOccurs="1" maxOccurs="1">
                                                                                                                <xs:simpleType>
                                                                                                                    <xs:restriction base="xs:string">
                                                                                                                        <xs:minLength value="1"/>
                                                                                                                        <xs:maxLength value="50"/>
                                                                                                                    </xs:restriction>
                                                                                                                </xs:simpleType>
                                                                                                            </xs:element>
                                                                                                            <xs:element name="ProvinceCode" minOccurs="1" maxOccurs="1">
                                                                                                                <xs:simpleType>
                                                                                                                    <xs:restriction base="xs:string">
                                                                                                                        <xs:minLength value="1"/>
                                                                                                                        <xs:maxLength value="50"/>
                                                                                                                    </xs:restriction>
                                                                                                                </xs:simpleType>
                                                                                                            </xs:element>
                                                                                                            <xs:element name="PostalCode" minOccurs="1" maxOccurs="1"> 
                                                                                                                <xs:simpleType>
                                                                                                                    <xs:restriction base="xs:string">
                                                                                                                        <xs:minLength value="0"/>
                                                                                                                        <xs:maxLength value="10"/>
                                                                                                                    </xs:restriction>
                                                                                                                </xs:simpleType>
                                                                                                            </xs:element>
                                                                                                            <xs:element name="CountryCode" minOccurs="1" maxOccurs="1">
                                                                                                                <xs:simpleType>
                                                                                                                    <xs:restriction base="xs:string">
                                                                                                                        <xs:minLength value="1"/>
                                                                                                                        <xs:maxLength value="2"/>
                                                                                                                    </xs:restriction>
                                                                                                                </xs:simpleType>
                                                                                                            </xs:element>
                                                                                                        </xs:sequence>
                                                                                                    </xs:complexType>
                                                                                                </xs:element>
                                                                                            </xs:sequence>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute name="line_id" use="required">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:integer">
                                                                    <xs:totalDigits value="10"/> 
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                        <xs:attribute name="client_line_id" use="required">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string">
                                                                    <xs:minLength value="1"/>
                                                                    <xs:maxLength value="100"/>                               
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                        <xs:attribute name="ship_id" use="required">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:integer">
                                                                    <xs:totalDigits value="10"/> 
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Shipping" minOccurs="0" maxOccurs="1"  >
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Payments" minOccurs="1" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:sequence minOccurs="1" maxOccurs="6" >
                                                            <xs:element name="Payment" >
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Type" minOccurs="1" maxOccurs="1">                
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:enumeration value="Mastercard" />
                                                                                    <xs:enumeration value="Visa" />
                                                                                    <xs:enumeration value="Discover" />
                                                                                    <xs:enumeration value="Amex" />
                                                                                    <xs:enumeration value="Milstar" />
                                                                                    <xs:enumeration value="GiftCard" />
                                                                                    <xs:enumeration value="InComm" />
                                                                                    <xs:enumeration value="ATT" />
                                                                                    <xs:enumeration value="Esso" />
                                                                                    <xs:enumeration value="WEX" />
                                                                                </xs:restriction>                                                  
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="Amount" minOccurs="1" maxOccurs="1">                
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:decimal">
                                                                                    <xs:fractionDigits value="2"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="TransactionId" minOccurs="1" maxOccurs="1">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:integer">
                                                                                    <xs:totalDigits value="8"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="OrderNumber" minOccurs="1" maxOccurs="1">                
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:minLength value="1"/>
                                                                                    <xs:maxLength value="100"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="OrderDate" minOccurs="1" maxOccurs="1" >
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:integer">
                                                                                    <xs:pattern value="[0-9][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="ShipDate" minOccurs="1" maxOccurs="1">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:integer">
                                                                                    <xs:pattern value="[0-9][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="SettleDate"  minOccurs="1" maxOccurs="1">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:integer">
                                                                                    <xs:pattern value="[0-9][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="CardReference" minOccurs="1" maxOccurs="1">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:minLength value="1"/>
                                                                                    <xs:maxLength value="19"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>   
                                                                        <xs:element name="CardToken" minOccurs="1" maxOccurs="1">                
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:minLength value="12"/>
                                                                                    <xs:maxLength value="19"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="ExpirationDate" minOccurs="0" maxOccurs="1">                
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:integer">
                                                                                    <xs:pattern value="[0-9][0-9][0-1][0-9]"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="AuthNum" minOccurs="1" maxOccurs="1">                
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:minLength value="6"/>
                                                                                    <xs:maxLength value="8"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="RequestPlan" minOccurs="0" maxOccurs="1" > 
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:integer">
                                                                                    <xs:totalDigits value="5"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="ResponsePlan" minOccurs="0" maxOccurs="1" > 
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:integer">
                                                                                    <xs:totalDigits value="5"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="QualifiedPlan" minOccurs="0" maxOccurs="1" > 
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:integer">
                                                                                    <xs:totalDigits value="5"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="RRN" minOccurs="1" maxOccurs="1">  
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:length value="12"/>                                        
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="Customer" minOccurs="1" maxOccurs="1" >
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element name="Contact" minOccurs="1" maxOccurs="1" >
                                                                                        <xs:complexType>
                                                                                            <xs:sequence>
                                                                                                <xs:element name="FirstName" minOccurs="1" maxOccurs="1">
                                                                                                    <xs:simpleType>
                                                                                                        <xs:restriction base="xs:string">
                                                                                                            <xs:minLength value="1"/>
                                                                                                            <xs:maxLength value="50"/>
                                                                                                        </xs:restriction>
                                                                                                    </xs:simpleType>
                                                                                                </xs:element>
                                                                                                <xs:element name="MiddleName" minOccurs="0" maxOccurs="1">
                                                                                                    <xs:simpleType>
                                                                                                        <xs:restriction base="xs:string">
                                                                                                            <xs:minLength value="1"/>
                                                                                                            <xs:maxLength value="40"/>
                                                                                                        </xs:restriction>
                                                                                                    </xs:simpleType>
                                                                                                </xs:element>
                                                                                                <xs:element name="LastName" minOccurs="1" maxOccurs="1">
                                                                                                    <xs:simpleType>
                                                                                                        <xs:restriction base="xs:string">
                                                                                                            <xs:minLength value="1"/>
                                                                                                            <xs:maxLength value="50"/>
                                                                                                        </xs:restriction>
                                                                                                    </xs:simpleType>
                                                                                                </xs:element>
                                                                                        
                                                                                                <xs:element name="HomePhone" minOccurs="0" maxOccurs="1">
                                                                                                    <xs:simpleType>
                                                                                                        <xs:restriction base="xs:integer">
                                                                                                            <xs:totalDigits value="10"/>
                                                                                                        </xs:restriction>
                                                                                                    </xs:simpleType>
                                                                                                </xs:element>
                                                                                                <xs:element name="Email" minOccurs="0" maxOccurs="1">
                                                                                                    <xs:simpleType>
                                                                                                        <xs:restriction base="xs:string">
                                                                                                            <xs:minLength value="0"/>
                                                                                                            <xs:maxLength value="200"/>
                                                                                                        </xs:restriction>
                                                                                                    </xs:simpleType>
                                                                                                </xs:element>
                                                                                            </xs:sequence>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                    <xs:element name="Address">
                                                                                        <xs:complexType>
                                                                                            <xs:sequence>
                                                                                      
                                                                                                <xs:element name="Line" minOccurs="1" maxOccurs="2" >
                                                                                                    <xs:complexType>
                                                                                                        <xs:simpleContent>
                                                                                                            <xs:extension base="xs:string">
                                                                                                                <xs:attribute type="xs:integer" name="sequence"/>
                                                                                                            </xs:extension>
                                                                                                        </xs:simpleContent>
                                                                                                    </xs:complexType>
                                                                                                </xs:element>
                                                                                                <xs:element name="City" minOccurs="1" maxOccurs="1">
                                                                                                    <xs:simpleType>
                                                                                                        <xs:restriction base="xs:string">
                                                                                                            <xs:minLength value="1"/>
                                                                                                            <xs:maxLength value="50"/>
                                                                                                        </xs:restriction>
                                                                                                    </xs:simpleType>
                                                                                                </xs:element>
                                                                                                <xs:element name="ProvinceCode" minOccurs="1" maxOccurs="1">
                                                                                                    <xs:simpleType>
                                                                                                        <xs:restriction base="xs:string">
                                                                                                            <xs:minLength value="1"/>
                                                                                                            <xs:maxLength value="50"/>
                                                                                                        </xs:restriction>
                                                                                                    </xs:simpleType>
                                                                                                </xs:element>
                                                                                                <xs:element name="PostalCode" minOccurs="1" maxOccurs="1"> 
                                                                                                    <xs:simpleType>
                                                                                                        <xs:restriction base="xs:string">
                                                                                                            <xs:minLength value="0"/>
                                                                                                            <xs:maxLength value="10"/>
                                                                                                        </xs:restriction>
                                                                                                    </xs:simpleType>
                                                                                                </xs:element>
                                                                                                <xs:element name="CountryCode" minOccurs="1" maxOccurs="1">
                                                                                                    <xs:simpleType>
                                                                                                        <xs:restriction base="xs:string">
                                                                                                            <xs:minLength value="1"/>
                                                                                                            <xs:maxLength value="2"/>
                                                                                                        </xs:restriction>
                                                                                                    </xs:simpleType>
                                                                                                </xs:element>
                                                                                            </xs:sequence>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="amount" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:decimal">
                                                        <xs:fractionDigits value="2"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="client_line_id" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:minLength value="1"/>
                                                        <xs:maxLength value="100"/>                               
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Appeasements" minOccurs="0" maxOccurs="1" >
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Appeasement">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Payments" minOccurs="1" maxOccurs="1" >
                                                <xs:complexType>
                                                    <xs:sequence minOccurs="1" maxOccurs="1" >
                                                        <xs:element name="Payment" >
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="Type" minOccurs="1" maxOccurs="1">                
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:enumeration value="Mastercard" />
                                                                                <xs:enumeration value="Visa" />
                                                                                <xs:enumeration value="Discover" />
                                                                                <xs:enumeration value="Amex" />
                                                                                <xs:enumeration value="Milstar" />
                                                                                <xs:enumeration value="GiftCard" />
                                                                                <xs:enumeration value="InComm" />
                                                                                <xs:enumeration value="ATT" />
                                                                                <xs:enumeration value="Esso" />
                                                                                <xs:enumeration value="WEX" />
                                                                            </xs:restriction>                                                  
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="Amount" minOccurs="1" maxOccurs="1">                
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:decimal">
                                                                                <xs:fractionDigits value="2"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="TransactionId" minOccurs="1" maxOccurs="1">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:integer">
                                                                                <xs:totalDigits value="10"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="OrderNumber" minOccurs="1" maxOccurs="1">                
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:minLength value="1"/>
                                                                                <xs:maxLength value="100"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="OrderDate" minOccurs="1" maxOccurs="1" >
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:integer">
                                                                                <xs:pattern value="[0-9][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="ShipDate" minOccurs="1" maxOccurs="1">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:integer">
                                                                                <xs:pattern value="[0-9][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="SettleDate"  minOccurs="1" maxOccurs="1">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:integer">
                                                                                <xs:pattern value="[0-9][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="CardReference" minOccurs="1" maxOccurs="1">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:minLength value="1"/>
                                                                                <xs:maxLength value="19"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>   
                                                                    <xs:element name="CardToken" minOccurs="1" maxOccurs="1">                
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:minLength value="12"/>
                                                                                <xs:maxLength value="19"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="ExpirationDate" minOccurs="0" maxOccurs="1">                
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:integer">
                                                                                <xs:pattern value="[0-9][0-9][0-1][0-9]"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="AuthNum" minOccurs="1" maxOccurs="1">                
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:minLength value="6"/>
                                                                                <xs:maxLength value="8"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="RequestPlan" minOccurs="0" maxOccurs="1" > 
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:integer">
                                                                                <xs:totalDigits value="5"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="ResponsePlan" minOccurs="0" maxOccurs="1" > 
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:integer">
                                                                                <xs:totalDigits value="5"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="QualifiedPlan" minOccurs="0" maxOccurs="1" > 
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:integer">
                                                                                <xs:totalDigits value="5"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="RRN" minOccurs="1" maxOccurs="1">  
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:length value="12"/>                                        
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="Customer" minOccurs="1" maxOccurs="1" >
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="Contact" minOccurs="1" maxOccurs="1" >
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element name="FirstName" minOccurs="1" maxOccurs="1">
                                                                                                <xs:simpleType>
                                                                                                    <xs:restriction base="xs:string">
                                                                                                        <xs:minLength value="1"/>
                                                                                                        <xs:maxLength value="50"/>
                                                                                                    </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                            </xs:element>
                                                                                            <xs:element name="LastName" minOccurs="1" maxOccurs="1">
                                                                                                <xs:simpleType>
                                                                                                    <xs:restriction base="xs:string">
                                                                                                        <xs:minLength value="1"/>
                                                                                                        <xs:maxLength value="50"/>
                                                                                                    </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                            </xs:element>
                                                                                        
                                                                                            <xs:element name="HomePhone" minOccurs="0" maxOccurs="1">
                                                                                                <xs:simpleType>
                                                                                                    <xs:restriction base="xs:integer">
                                                                                                        <xs:totalDigits value="10"/>
                                                                                                    </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                            </xs:element>
                                                                                            <xs:element name="Email" minOccurs="0" maxOccurs="1">
                                                                                                <xs:simpleType>
                                                                                                    <xs:restriction base="xs:string">
                                                                                                        <xs:minLength value="0"/>
                                                                                                        <xs:maxLength value="200"/>
                                                                                                    </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                            </xs:element>
                                                                                        </xs:sequence>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element name="Address">
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                      
                                                                                            <xs:element name="Line" minOccurs="1" maxOccurs="2" >
                                                                                                <xs:complexType>
                                                                                                    <xs:simpleContent>
                                                                                                        <xs:extension base="xs:string">
                                                                                                            <xs:attribute type="xs:integer" name="sequence"/>
                                                                                                        </xs:extension>
                                                                                                    </xs:simpleContent>
                                                                                                </xs:complexType>
                                                                                            </xs:element>
                                                                                            <xs:element name="City" minOccurs="1" maxOccurs="1">
                                                                                                <xs:simpleType>
                                                                                                    <xs:restriction base="xs:string">
                                                                                                        <xs:minLength value="1"/>
                                                                                                        <xs:maxLength value="50"/>
                                                                                                    </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                            </xs:element>
                                                                                            <xs:element name="ProvinceCode" minOccurs="1" maxOccurs="1">
                                                                                                <xs:simpleType>
                                                                                                    <xs:restriction base="xs:string">
                                                                                                        <xs:minLength value="1"/>
                                                                                                        <xs:maxLength value="50"/>
                                                                                                    </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                            </xs:element>
                                                                                            <xs:element name="PostalCode" minOccurs="1" maxOccurs="1"> 
                                                                                                <xs:simpleType>
                                                                                                    <xs:restriction base="xs:string">
                                                                                                        <xs:minLength value="0"/>
                                                                                                        <xs:maxLength value="10"/>
                                                                                                    </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                            </xs:element>
                                                                                            <xs:element name="CountryCode" minOccurs="1" maxOccurs="1">
                                                                                                <xs:simpleType>
                                                                                                    <xs:restriction base="xs:string">
                                                                                                        <xs:minLength value="1"/>
                                                                                                        <xs:maxLength value="2"/>
                                                                                                    </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                            </xs:element>
                                                                                        </xs:sequence>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="code" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:length value="2"/>                                        
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="date" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:pattern value="[0-9][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="description" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="100"/>                                        
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="reference" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="10"/>                                       
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="client_line_id" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="100"/>                               
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:element name="Response" minOccurs="0" maxOccurs="5">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ResponseType" minOccurs="1" maxOccurs="1">                
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Approved" />
                                        <xs:enumeration value="Decline" />
                                        <xs:enumeration value="TIMEOUT" />
                                    </xs:restriction>                                                  
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ReasonCode" minOccurs="0" maxOccurs="1">              
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DescriptionField" minOccurs="0" maxOccurs="1">                
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="16"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>  
                    </xs:complexType>
                </xs:element>
               
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
